body {
  margin: 0;
  font-family: 'Mukta', sans-serif, Arial;
  font-size: 20px;
  line-height: 1.45;
  display: inline;
}
section {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding-top: 15px;
}
.main section.page1 {
  background: #ffe733;
  text-align: center;
  height: 20vh;
}
.main section.page2 {
  background: #ffffff;
  text-align: center;
  height: 150vh;
  padding: 120px 120px 120px 120px;
}
.main section .page2 .img {
  align-self: center;
}
.main section.page3 {
  background: #ffffff;
  text-align: center;
}
.main section.page4 {
  background: #ffffff;
  text-align: center;
  height: 30vh;
  display: inline-grid;
}
.main section.page5 {
  background: #ffe733;
  text-align: center;

}
.main section.page6 {
  background: #898882;
  text-align: center;
}
.contact {
  background: #ffe733;
  align-items: center;
  display: inline-block;
  text-align: center;
  padding-top: 100px;
  height: 120vh;
}
.contactfooter {
  background: #ffffff;
  text-align: center;
  height: 13vh;
}

h1 {
  font-size: 50px;
  font-family: 'Pacifico', serif;
  font-weight: normal;
  line-height: 1.45;
  padding-bottom: 0px;
  margin: 0;
}
h2 {
  padding-top: 2px;
  line-height: 1.45;
  margin: 0;
}
.col-md-3 .img-thumbnail {
  max-height: 15vh;
  border: 0;
  display: inline-block;
}
.col-md-4 .img-thumbnail {
  max-height: 9vh;
  border: 0;
  display: inline-block;
  color: #ffe733;

}
.row {
  display: flex;
  align-items: center;
}
.contact .form-group {
-webkit-border-radius: 80px;
-moz-border-radius: 80px;
border-radius: 80px;
width: 800px;
align-items: justify;
display: inline-grid;
text-align: left;
}
.contact .btn-primary {
  background-color: #000000;
}
textarea {
  resize: none;
}
#exampleCheck1 input:checked ~ .control-indicator {
  background-color: #333;
  color: #ffffff;
}
a:link {
  color: #333;
}
a:visited {
  color: #333;
}
a:hover {
  color: #333;
}
a:active {
  color: #333;
}
.contactfooter a {
  text-decoration: none;
}
